# DBLP files.
scripts/*.xml
scripts/*.dtd
scripts/*.csv

# Downloaded paper documents
scripts/downloaded_papers
scripts/selected_papers

# Development environment.
/venv
/.vscode
/.idea

# Notebook items
data_analysis/.ipynb_checkpoints
data_analysis/figures
